<section data-ng-controller="PuntersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Punters</h1>
    </div>
    <div class="list-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        {{question.test}}
                    </div>
                    <div class="col-xs-12" data-ng-repeat="choice in question.choices">
                        <input type="radio">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-9">
                        <button class="btn btn-primary">Validate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>