<section data-ng-controller="PuntersController" data-ng-init="init()">
    <div class="page-header">
        <h1>Punters</h1>
    </div>
    <div class="list-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        {{question.test}}
                    </div>
                    <div class="col-xs-12" data-ng-repeat="choice in question.choices">
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios" ng-value="question.id">
                            {{choice.value}}
                          </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <button class="btn btn-primary btn-block">Validate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>